.content-page {
  margin-left: unset;
}

.footer {
  left: 0;
}

.folder {
  cursor: pointer;
}

.folder-tree {
  li > a {
    cursor: pointer;
  }
}

.upload-box {
    outline: 2px dashed black;
    //outline-offset: 5px;
    border-radius: 5px;
    background: rgb(128 128 128 / 10%);
    min-height: 100%;
}

.pointer {
  cursor: pointer;
}
