@import 'pdfvuer/dist/pdfvuer.css';

.content-page {
  //margin-left: unset;
  //min-height: calc(100vh - 70px - 60px);
  //padding: 0 15px;

  //> .content {
  //  height: 100%;
  //
  //  > .container-fluid {
  //    height: 100%;
  //  }
  //}
}

.footer {
  left: 0;
  height: 60px;
}

.folder {
  cursor: pointer;
}

.folder-tree {
  li > a {
    cursor: pointer;
  }
}

.upload-box {
  .box {
    display: none;
  }

  .drop-files {
    align-items: center;
    justify-content: center;
    z-index: -1;
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    flex-direction: column;
  }

  &.active {
    outline: 2px dashed black;
    border-radius: 5px;
    height: 100%;

    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 50px;
      border-radius: 5px;
      background: rgb(255 255 255 / 85%);
    }

    .drop-files {
      background: rgb(0 0 0 / 10%);
      z-index: 10;
    }

  }

}

.pointer {
  cursor: pointer;
}

@media (max-width: 992px) {
  .mobile-wrap {
    padding: 0 !important;
  }
}
