.DS_Store
node_modules
dist
spa

# local env files
.env.local
.env.*.local
**/.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# local tests
my-r2-explorer

packages/worker/bin
packages/worker/README.md
packages/worker/LICENSE

packages/worker/dev/.wrangler

packages/github-action/wrangler.toml
packages/github-action/src

packages/dashboard/.env
packages/dashboard/.quasar
.dev.vars
