name: Test Build

on:
  push:
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'LICENSE'
      - '.editorconfig'
    branches:
      - main
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'LICENSE'
      - '.editorconfig'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Set RELEASE_VERSION
        run: echo "RELEASE_VERSION=0.0.1" >> $GITHUB_ENV
      - name: Apply new version
        run: node packages/worker/config/preparePublish.js
      - name: Install pnpm
        run: npm install -g pnpm
      - name: Install dependencies
        run: pnpm install
      - name: Check Lint
        run: pnpm lint
      - name: Build everything
        run: pnpm build
